.projects {
  overflow: hidden;
  background-color: black;
}
.projects__row {
  display: flex;
}
.projects__project {
  flex: 0.5;
  overflow: hidden;
  height: 50vh;
  width: 100%;
  object-fit: fill;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.projects__project > img {
  opacity: 0.5;
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease-in;
}
.projects__showOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 50;
  opacity: 0;
  transform: translate(-50%, -50%);
  color: white;
  animation: showOverlay 1s forwards;
}
.project__imageZoomed {
  transform: scale(1.3);
  transition: transform 0.5s ease-in;
}

@keyframes showOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
